@{
    Layout = "_Layout";
}

<div class="jumbotron">
    <h1>Address Book</h1>
</div>
<div class="container">
    <h1>Contacts Page</h1>
    <ul>
        @foreach (var contact in Model)
        {
            <li><a href="/contact/@contact.GetId()"> @contact.GetName()</a></li>
        }
    </ul>
    <a href="/contact/create-form"><button type="button" class="btn"> Create A New Contact </button></a>
    @if (Model.GetAllContacts().Count != 0)
    {
        <a href="/contact/clear"><button type="button" class="btn"> Clear Contacts </button></a>
    }
</div>
