@using AddressBookProject.Models;
@{
    Layout = "_Layout";
}
<div class="container">
    <div class="jumbotron">
        <h1>Address Book</h1>
    </div>
</div>
<div class="container" id="homeContainer">
    @if (Contact.GetAllContacts().Count == 0)
    {
        <h1> Welcome to your address book </h1>
        <h1> Please click the button below </h1>
        <br>
    }
    else
    {
        <h1>Contacts</h1>
        <hr>

        @foreach (var contact in Contact.GetAllContacts())
        {
            <p><a href="/contact/@contact.GetId()"> @contact.GetFullName()</a></p>
        }
        <br>
        <hr>
    }
    <a href="/contact/create-form"><button type="button" class="btn"> Create A New Contact </button></a>
    @if (Contact.GetAllContacts().Count != 0)
    {
        <a href="/contact/clear-all"><button type="button" class="btn"> Clear Contacts </button></a>
    }
</div>
