body{
    background-image:url("../img/background.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: auto;
    padding-top: 100px;
    padding-bottom: 200px;
    padding-left: 100px;
    padding-right: 100px;
}

.jumbotron {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 0px;
    background-color: #0d1a23;
    color: white;
}

.container{
    padding-left: 0;
    padding-right: 0;
}
#homeContainer{
    background-image:url("../img/paper.jpg");
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 0px;
    padding-right: 0px;
}

#formContainer{
    background-image:url("../img/paper.jpg");
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
}

#detailContainer{
    background-image:url("../img/paper.jpg");
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
}

.form-control {
    height: 30px;
}

.city{
    width: 350px;
}

.state{
    width: 50px;
}

.zip {
    width: 100px;
}


div#footer {
  position: fixed;
  height: 40px;
  background-color: #0d1a23;
  bottom: 0px;
  left: 0px;
  right:0px;
  margin-bottom:0px;
  text-align: center;
  color: white;
  font-size: 18px;
}
